$family-sans-serif: "Fira Sans", sans-serif;
$family-primary: $family-sans-serif;

$blue-t: #3b82f6;
$primary: $blue-t;

$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;
$link-hover: findDarkColor($primary);

$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);
$dribbble: #EA4C89;
$dribbble-invert: findColorInvert($dribbble);

$colors: mergeColorMaps(
  (
    "white": (
      $white,
      $black,
    ),
    "black": (
      $black,
      $white,
    ),
    "light": (
      $light,
      $light-invert,
    ),
    "dark": (
      $dark,
      $dark-invert,
    ),
    "primary": (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    "link": (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    "info": (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    "success": (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    "warning": (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    "danger": (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
    "dribbble": (
      $dribbble,
      $dribbble-invert,
    ),
  ),
  $custom-colors
);
